appdirs==1.4.4
astroid==2.4.0
autopep8==1.5.4
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
crypto==1.4.1
Cython==0.29.17
db.py==0.5.3
distlib==0.3.1
doqu==0.28.2
filelock==3.0.12
google==2.0.3
hupper==1.10.2
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Naked==0.1.31
npm==0.1.1
numpy==1.22.0
optional-django==0.1.0
pandas==1.0.3
PasteDeploy==2.1.0
plaster==1.0
plaster-pastedeploy==0.7
prettytable==0.7.2
psycopg2==2.8.5
pybars3==0.9.7
pycodestyle==2.6.0
pycryptodome==3.9.7
pylint==2.5.0
PyMeta3==0.5.1
pyramid==1.10.4
pyTelegramBotAPI==3.7.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.7.0
shellescape==3.8.1
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
toml==0.10.0
transaction==3.0.0
translationstring==1.3
urllib3==1.25.9
venusian==3.0.0
virtualenv==20.0.29
WebOb==1.8.6
wrapt==1.12.1
zope.deprecation==4.4.0
zope.interface==5.1.0
